@import url("normalize.css/normalize.css");
*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:before, &:after{box-sizing: border-box;}
}
html, body{ min-width: 100%; min-height: 100vh; }
body{
  font-size: 14px; line-height: 1.5;
  color: #222633; background: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  margin: 0;
  padding: 0;
}
button, input, select, textarea{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input::-ms-clear, input::-ms-reveal{
  display: none;
}
code, kbd, pre, samp{
  font-family: Consolas, Menlo, Courier, monospace;
}
ul, ol, li{list-style: none;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
i, em, address{ font-style: normal;}
img{-webkit-user-drag: none;vertical-align: middle;}
